<?php

/* 
 * This is a template settings file. Fill in the details before removing the .tmpl extension and 
 * running the tests.
 */

define('SMTP_HOST', '');
define('SMTP_USER', '');
define('SMTP_PASSWORD', '');
define('SMTP_FROM_EMAIL', '');
define('SMTP_TLS_OR_SSL', 'tls');

# Specify which email address to send the test email addresses to. You will need to go in there
# and check that you recieve them.
define('TO_EMAIL', '');